{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAOZ</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <div class="topnav">
        <div class="itemleft">
            <img src="{% static 'images/LOGOblanco.png' %}" alt="CAOZ" class="logo">
            <img src="{% static 'images/CAOZblanco.png' %}" alt="CAOZ" class="logo2">
        </div>
        <div class="nav-items">
            <a href=""> PRODUCTOS</a>
            <a href=""> ORDENES </a>
            <a href=""> HOMBRE</a>
            <a href=""> MUJER </a>
        </div>
    </div>
</head>

<body style="color: black;">

    <video autoplay loop src="{% static 'video/CAOZvideo.mp4' %}" class="BKvideo"></video>

    <div class="grid-container">
        <div class="grid-item">
            <a href="">Columna 1</a>
        </div>
        <div class="grid-item">
            <a href="">Columna 2</a>
        </div>
        <!-- Add more grid items here if needed -->
    </div>

</body>

</html>