{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="container">
    {% for product in products %}
        <a href="{% url 'producto' product.id %}" class="product-link">
            <div class="product">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                {% if product.is_sale %}
                    <div class="descuento"> Descuento </div>
                    <p><span class="sale-price">${{ product.sale_price|intcomma }}</span> &nbsp; <strike>${{ product.price|intcomma }}</strike></p>
                {% else %}
                    <p>${{ product.price|intcomma }}</p>
                {% endif %}
            </div>
        </a>
    {% endfor %}
    <div class="product-add">
    <a href=""><h2>Agregar producto</h2></a>
    </div>
</div>
{% endblock %}