{% extends 'core/base.html' %}
{% load humanize %}
{% load static %}
{% block content %}
<div class="registro-salida">
    <div class="searchbar">
    <form method="POST" action="{% url 'busqueda-producto' %}">
        {% csrf_token %}
        <div class="input-field-busqueda"><input type="search" placeholder="Buscar producto" name="busqueda"> <button class="btn-busqueda" type="submit">Buscar</button>
        </div> 
    </form>
    </div>
    
</div>

    <br>
    <div class="container">
        {% for product in products %}
        <div class="product">
                    <a href="{% url 'producto' product.id %}" class="product-link">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    {% if product.is_sale %}
                        <div class="descuento"> Descuento </div>
                        <p><span class="sale-price">${{ product.sale_price|intcomma }}</span> &nbsp; <strike>${{ product.price|intcomma }}</strike></p>
                    {% else %}
                        <p>${{ product.price|intcomma }}</p>
                    {% endif %}
                </a>
                {% if user.is_authenticated and user.is_superuser %}
                    <a class="nolink"href="{% url 'editar-producto' product.id %}" ><button class="btn-edit">Edit</button></a> 
                {% endif %}
                </div>
            
        {% endfor %}
        {% if user.is_authenticated and user.is_superuser %}
        <div class="product-add">
            <a href="{% url 'addform' %}"><h3>AGREGAR PRODUCTO</h2></a>
        </div>
        {% endif %}
    </div>

{% endblock %}